body {
	font-family: 'montserrat','Helvetica Neue',Arial,Helvetica,sans-serif;
}

h1 {
	font-size: 3em;
	color: #011e41;
}

.container {
	  display: -webkit-box;
	  display: -moz-box;
	  display: -ms-flexbox;
	  display: -webkit-flex;
	  display: flex;
	  -webkit-flex-flow: row wrap;
	  justify-content: space-around;
	  width: 80%;
	  margin-right: auto;
	  margin-left: auto;
  	}

  	.item {
  		-webkit-flex: initial;
        flex: initial;
  		width: 350px; 		
  		height: 188px;
  		border: 1px solid #e6e6e6;
  		border-radius: 3px;
  		margin-bottom: 20px;  	
  		
  		background:  no-repeat center; 
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;
  		background-position-y: 55px;


  		background-color: #fff;
        position: relative;
        overflow: hidden;
  	}

  	.item-head {
  		background-color: #fff;
  		width: 100%;
  		height: 60px;
  	}

	.author {
		display: inline-block;
		width: 58px;
		height: 78px;		
		background-color: #fff;
		border: 0;
		margin:0;
	}

	.item img {
		width: 48px;
		height: 48px;
		border-radius: 50%;
		position: absolute;
		margin: 5px;
		top:0;
	}



  	.excerpt {  		
  		width: 100%;
  		height: 60px;
  		text-decoration: none;
  		position: relative;
  		display: block;
  		margin-top: 80px;
  		background-color: rgba(255,255,255,1);
  		padding: 10px;
  		text-overflow: ellipsis;
  		overflow: hidden;
  	}

  	.excerpt p {
  		width: 95%;
  		height: 60px;
  		text-overflow: ellipsis;
  		overflow: hidden;
  		margin: 0;
  		padding: 0;
  		text-decoration: none;
  		text-overflow: ellipsis;
  		overflow: hidden;
  	}

  	a {
  		color: #424242;
  		text-decoration: none;
  	}

  	.item h2 {
  		font-size: 1.2em;
  		font-weight: 400;
  		padding: 5px 0 0 10px;  
  		text-decoration: none;	
  		display: inline-block;	
  		width: 272px;
  		height: 50px;
  		text-overflow: ellipsis;
  		white-space: nowrap;
      	overflow: hidden;
      	margin-top: 0;
      	position: absolute;
      	left: 55px;
      	top:10px;
  	}

.red-circle {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	position: absolute;
	margin: 5px;
	background-color: red;

}  	

#addPage {
  width: 60px;
  height: 20px;
  background-color: red;
}

.button {
  display: inline-block;
  width: 10px;
  border: 1px solid black;
  padding: 7px 15px;
  margin: 10px;
}

.button:hover {
  background-color: #efefef;
  cursor: pointer;
}

.loading {
  font-size: 3em;
  color: red;
  position: absolute;
  top: 30%;
  left: 50%;
}

.page-nav {
  width: 20%;
  margin: 0 auto;
  
}

.center-nav {
	width: 100%;
}

@media only screen and (max-width: 378px) {
    /* For mobile phones: */
    .item{
        width: 90vw;
    }
    .item h2 {
    	width: 50vw;
    	font-size:1.2em;
    }
}
  		